<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>登录</title>
    <script src="/Scripts/vue.js"></script>
    <script src="/Scripts/vue-resource.js"></script>
    <script src="/Scripts/myUtil.js"></script>
    <script src="/Scripts/locale-en.js"></script>
</head>
<body>
    <div id="login">
        <h2>{{ displayText._title }}</h2>
        <span>{{ displayText._userName }}</span><input type="text" v-model="username" /><br />
        <span>{{ displayText._password }}</span><input type="password" v-model="password"/><br />
        <span>{{ displayText._captcha }}</span><input type="text" v-model="captcha" /><img :src="captchaUrl" @click="recaptcha" /><br />
        <input type="checkbox" id="keepInput" v-model="keepInput" /><label for="keepInput">{{ displayText._keepInput }}</label><br />
        <input type="button" :value="displayText._submit" @click="submit" />
    </div>
    <script>
        //var doc = document;
        var vm = new Vue({
            el: "#login",
            data: function () {
                return {
                    displayText: displayText_login, 
                    username: "",
                    password: "",
                    captcha: "",
                    captchaUrl: "/captcha",
                    keepInput: false,
                };
            },
            mounted: function () {
                // Initialize
                this.username = get_cookie("username");
                this.password = get_cookie("password"); 
            },
            ready: function () {
                
            },
            created: function () {
                document.title = this.displayText._title;
            },
            methods: {
                
                submit: function () {
                    this.username = this.username.trim();

                    if (this.keepInput == true) {
                        set_cookie("password", this.password, 1);
                        set_cookie("username", this.username, 1);
                    }

                    var postObj = {
                        UserName: this.username,
                        Password: this.password,
                        Captcha: this.captcha
                    };

                    // Login
                    Vue.http.post('/login', postObj).then(response => {
                        handleResponse(response);
                    }, response => {
                        console.error(response.statusText + ":" + response.body);
                    });
                },
                recaptcha: function () {
                    this.captchaUrl = "/captcha" + "?" + new Date().getTime();
                }
            }
        });

        // Before close window
        //window.onbeforeunload = function (event) {
        //    var message = 'Important: Please click on \'Save\' button to leave this page.';
        //    if (typeof event == 'undefined') {
        //        event = window.event;
        //    }
        //    if (event) {
        //        event.returnValue = message;
        //    }
        //    return message;
        //};

    </script>
</body>
</html>