<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>用户管理</title>
    <script src="/Scripts/vue.js"></script>
    <script src="/Scripts/vue-resource.js"></script>
    <script src="/Scripts/myUtil.js"></script>
</head>
<body>
    <div id="userManagement">
        <h2>{{ title }}</h2>
        <h3 style="display:inline">欢迎你：{{ currentUser.DisplayName }}</h3>&nbsp;&nbsp;&nbsp;&nbsp;<h4 style="display:inline"><a @click="logOff">退出</a></h4>
        <ul>
            <li v-for="u in users">{{ u.ID }} - {{ u.UserName }} - {{ u.DisplayName }} - {{ u.LoginTime }} - {{ u.LogoffTime }} - {{ u.UpdateTime }}</li>
        </ul>
    </div>
    <script>

        var vm = new Vue({
            el: "#userManagement",
            data: function () {
                return {
                    title: "用户管理",
                    message: "",
                    users: [],
                    currentUser: {}
                };
            },
            mounted: function () {
                // Initialize
                var userInCookies = get_cookie("username");
                if (!userInCookies) {
                    window.location = "/Views/Login.html";
                }

                Vue.http.get('/users').then(response => {

                    if (response.body.includes("redirectToLogin")) {
                        // 权限验证失败, 跳转到登录页面
                        window.location = "/Views/Login.html";
                    } else {
                        // 更新项目
                        this.users = response.body;
                        this.currentUser = this.users.filter((u) =>
                        {
                            return u.UserName == userInCookies;
                        })[0];
                    }
                }, response => {

                    // 打印错误信息
                    console.error(response.statusText + ":" + response.body);
                });
            },
            methods: {
                logOff: function () {
                    window.location = "/Views/Login.html";
                }
            }
        });
    </script>
</body>
</html>