<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>用户管理</title>
    <script src="/Scripts/vue.js"></script>
    <script src="/Scripts/vue-resource.js"></script>
    <script src="/Scripts/myUtil.js"></script>
    <script src="/Scripts/locale-en.js"></script>
</head>
<body>
    <div id="userManagement">
        <h2>{{ displayText._title }}</h2>
        <h3 style="display:inline">{{displayText._greeting}} <img :src="currentUser.ImgUrl" height="45" width="45" />{{ currentUser.DisplayName }}</h3>&nbsp;&nbsp;&nbsp;&nbsp;<h4 style="display:inline"><a @click="logOff">{{ displayText._exit }}</a></h4>
        <br />
        <br />
        <table>
            <thead>
                <tr>
                    <th>{{ displayText._thead_ID }}</th>
                    <th>{{ displayText._thead_userName }}</th>
                    <th>{{ displayText._thead_userDisplayName }}</th>
                    <th>{{ displayText._thead_imgUrl }}</th>
                    <th>{{ displayText._thead_loginTime }}</th>
                    <th>{{ displayText._thead_logoffTime }}</th>
                    <th>{{ displayText._thead_updateTime }}</th>
                    <th>{{ displayText._thead_action }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="u in users">
                    <td>{{ u.ID }}</td>
                    <td>{{ u.UserName }}</td>
                    <td>{{ u.DisplayName }}</td>
                    <td><img :src="u.ImgUrl" height="45" width="45" /></td>
                    <td>{{ u.LoginTime }}</td>
                    <td>{{ u.LogoffTime }}</td>
                    <td>{{ u.UpdateTime }}</td>
                    <td>{{ displayText._update }}/{{ displayText._delete }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script>

        var vm = new Vue({
            el: "#userManagement",
            data: function () {
                return {
                    displayText: displayText_userManagement, 
                    title: "用户管理",
                    message: "",
                    users: [],
                    currentUser: {}
                };
            },
            mounted: function () {

                Vue.http.get('/users').then(response => {
                    if (response.body.code == 1) {
                        this.users = response.body.respObj.users;
                        this.currentUser = response.body.respObj.currentUser;
                    }
                    else {
                        console.log(response.body.message);
                        window.location = "/Views/Login.html";
                    }
                }, response => {
                    // 打印错误信息
                    console.error(response.statusText + ":" + response.body);
                });
            },
            created: function () {
                document.title = this.displayText._title;
            },
            methods: {
                logOff: function () {

                    var postObj = {
                        UserName: get_cookie("username"),
                    };

                    // Login
                    Vue.http.post('/logoff', postObj).then(response => {
                        handleResponse(response);
                    }, response => {
                        // 打印错误信息
                        console.error(response.statusText + ":" + response.body);
                    });
                }
            }
        });

        //window.onbeforeunload = function (event) {
        //    var message = 'Important: Please click on \'Save\' button to leave this page.';
        //    if (typeof event == 'undefined') {
        //        event = window.event;
        //    }
        //    if (event) {
        //        event.returnValue = message;
        //    }
        //    return message;
        //};

        //Before close window
        //window.onbeforeunload = function (event) {
        //    var message = 'Log off success.';
        //    var postObj = {
        //        UserName: get_cookie("username"),
        //    };

        //    // Login
        //    Vue.http.post('/logoff', postObj).then(response => {
        //        handleResponse(response);
        //    }, response => {
        //        // 打印错误信息
        //        console.error(response.statusText + ":" + response.body);
        //    });
        //    return message;
        //};
    </script>
</body>
</html>